#testTagInput .tags-input-wrapper{
	position: relative;
	margin: 0 auto;
	width: 60%;
}
h1{
	text-align: center;
	color: #555;
	font-family: arial;
}

.tags-input{
    opacity: 0;
    width: 100%;
    min-height: 60px;
    padding: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: arial;
    font-size: 18px;
    color: #555;
    line-height: 30px;
    white-space: pre-wrap;
    overflow: auto;
    background: #fff;
}

.tags-input span{
	background: #3FAFD0;
    color: #fff;
    padding: 2px 12px 4px;
    border-radius: 2px;
}

.tags-input-textarea{
    opacity: 1;
	z-index: 1;
	height: 60px;
	overflow: hidden;
}